/**capitec_NoticeDepositsHistory.css 
*  Created by Cornelia on 25.07.2024 for CECSF-201, CE
*/
.custom-text-green {
    color: #2db14c; 
}

.custom-text-red {
    color: #e01a2e;
}

.custom-text-yellow {
    color: #eea404;
}