/**
 * Created by dawid on 20.03.2023.
 */

.main-container{
    display: flex;
    flex-direction: column;
}


.question-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px auto 0 0;
    padding: 5px 0 5px 0;
    background-color:  #f4f4f5;
}

.main-container .question-section:nth-of-type(2n){
    background-color: white;
    /*background-color:  #f4f4f5;*/
}

.question-col{
    width: 45%;
    margin-right: 30px;
}

.answer-col{
    /*color: blue;*/
}

.answer-text{
    font-weight: bold;
}