/**
 * Created by dawid on 18.04.2023.
 */

th{
    color: #2c2c2c;
    font-weight: normal;
    padding-bottom: 5px;
}

tr{
    color: #2c2c2c;
    font-weight: bold;
    border-bottom: 1px solid #d0cdcd;
}

button{
    background: none;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.table-headline{
    color: white;
    background-color: #5169cb;
}

.table-container{
    padding: 0 15px 0 15px;
    margin-top: 10px;
}

.table-headline-text{
    margin: 2px 0 2px 10px;
    font-size: 20px;
    /*font-weight: bold;*/
}

.json-body{
    white-space: break-spaces;
    overflow: auto;
}